[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
nose = "*"
bumpversion = "*"
codecov = "*"
tox = "*"
coverage = "*"

[requires]
python_version = "3.7"
